* {
    font-family: 'Barlow', sans-serif;
}

body {
  background-color: #feffe0;
  color: #a2d2f5
}

.h1-top {
    background-color:#a2d2f5;
    color: #fff;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

